<div class="container">
  <div class="row mt-3">
    <h1>Todos Board</h1>
  </div>

  <div class="row mt-3 mb-3 pb-3" style="min-height: 75vh">
    <div class="col-md-3">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Backlog</h4>
          </mdb-card-title>
          <mdb-card-text>
            <app-todo-card *ngFor="let todo of todosBacklog$ | async" [todo]="todo"></app-todo-card>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-3">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Open</h4>
          </mdb-card-title>
          <mdb-card-text>
            <app-todo-card *ngFor="let todo of todosOpen$ | async" [todo]="todo"></app-todo-card>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-3">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>In Progress</h4>
          </mdb-card-title>
          <mdb-card-text>
            <app-todo-card *ngFor="let todo of todosInProgress$ | async" [todo]="todo"></app-todo-card>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-3">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Done</h4>
          </mdb-card-title>
          <mdb-card-text>
            <app-todo-card *ngFor="let todo of todosDone$ | async" [todo]="todo"></app-todo-card>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

</div>

<div class="fab-container">
  <eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger>
      <button mat-fab (click)="openTodoCreationDialog()">
        <mdb-icon fas icon="plus"></mdb-icon>
      </button>
    </eco-fab-speed-dial-trigger>
  </eco-fab-speed-dial>
</div>
