<mdb-card class="mt-3 mb-3 hover-style"
          [ngClass]="getTextColorByStatus()"
          [bgColor]="getColorByStatus()"
          (click)="openInfoDialog()"
          style="max-width: 20rem">
  <mdb-card-header>{{todo.title}}</mdb-card-header>
  <mdb-card-body>
    <p *ngIf="!!todo.assigneeId">{{assignedUser.name}} <mdb-icon fas icon="user-ninja" size="1x" class="pl-1" aria-hidden="true"></mdb-icon></p>
    <p *ngIf="!!!todo.assigneeId">Unassigned <mdb-icon fas icon="user" size="1x" class="pl-1" aria-hidden="true"></mdb-icon></p>
    <hr>
    <div class="todo-description" [ngClass]="getTextColorByStatus()">
      {{todo.description}}
    </div>
    <hr>
    <div class="row">
      <div class="col-md-auto" *ngFor="let label of todo.labels">
        <mdb-badge pill="true" default="true">{{label.title}}</mdb-badge>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
