<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group">
            <button mdbBtn color="primary"
                    mwlCalendarPreviousView
                    outline="true"
                    [view]="'day'"
                    [(viewDate)]="viewDate">
              Previous
            </button>
            <button mdbBtn color="primary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate">
              Today
            </button>
            <button mdbBtn color="primary"
                    outline="true"
                    mwlCalendarNextView
                    [view]="'day'"
                    [(viewDate)]="viewDate">
              Next
            </button>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <h3>{{ viewDate | calendarDate:('dayViewTitle') }}</h3>
        </div>
      </div>
      <br/>

      <mwl-calendar-day-view
        [viewDate]="viewDate"
        [eventTemplate]="demo"
        [events]="events"
        [refresh]="refresh"
        [eventWidth]="250"
        (eventTimesChanged)="eventTimesChanged($event)"
        [hourSegments]="4">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>

<ng-template #demo
             let-dayEvent="dayEvent"
             let-tooltipPlacement="tooltipPlacement"
             let-eventClicked="eventClicked"
             let-tooltipTemplate="tooltipTemplate"
             let-tooltipAppendToBody="tooltipAppendToBody"
             let-tooltipDelay="tooltipDelay">
  <div (click)="select(dayEvent)" class="col-md-12">
    <mat-card class="example-card"
              [ngClass]="{'selected': isSelected(dayEvent)}"
              [style.height.px]="dayEvent.height">
      <mat-card-header style="margin: 0 !important;">
        <mat-card-title>
          <div style="font-size: 14px">{{dayEvent.event.title}}</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="dayEvent.height > 80">
        <mdb-badge *ngFor="let label of dayEvent.event.meta.labels" color="red">{{label.desc}}</mdb-badge>
      </mat-card-content>
    </mat-card>
    <div class="row" *ngIf="dayEvent.event.meta.isSelected">
      <div class="col-md-4">
        <button type="button" mdbBtn color="primary" mdbWavesEffect size="sm" (click)="openEventInfoDialog(dayEvent)">
          <mdb-icon fas icon="edit"></mdb-icon>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" mdbBtn color="danger" mdbWavesEffect size="sm" (click)="deleteEvent(dayEvent)">
          <mdb-icon fas icon="trash"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
